@model List<Produktiviteti.Models.Tipi_Kerkeses>

<h2>Tipi Kerkeses List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Emri Kerkeses
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Emri_Kerkeses
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.KerkesaId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>